body {
	display: flex;
	height: 50vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input.txt {
	height: 40px;
	width: 400px;
	border-radius: 8px;
	padding: 4px;
}

input.btn {
	height: 40px;
	width: 100px;
}